<div class="wrapper">
    <div class="posts">
        <div class="posts__post">
            <h2 class="posts__post-date">
                Понедельник, 1 февраля 2022 года
            </h2>
            <div class="posts__post-reviews">
                <div class="posts__post-reviews-block">
                    <h2 class="posts__post-reviews-block-title">
                        Положительные отзывы:
                    </h2>
                    <ol class="posts__post-reviews-block-list">
                        <li class="posts__post-reviews-block-list-item">
                            Покачался
                        </li>
                        <li class="posts__post-reviews-block-list-item">
                            Попрограммировал
                        </li>
                    </ol>
                </div>
                <div class="posts__post-reviews-block">
                    <h2 class="posts__post-reviews-block-title">
                        Отрицательные отзывы:
                    </h2>
                    <ol class="posts__post-reviews-block-list">
                        <li class="posts__post-reviews-block-list-item">
                            Проспал весь день
                        </li>
                        <li class="posts__post-reviews-block-list-item">
                            Поиграл в доту
                        </li>
                    </ol>
                </div>
            </div>
            <div class="posts__post-conclusion">
                <b>Вывод:</b> нормас
            </div>
        </div>
        <div class="posts__post">
            <h2 class="posts__post-date">
                Вторник, 2 февраля 2022 года
            </h2>
            <div class="posts__post-reviews">
                <div class="posts__post-reviews-block">
                    <h2 class="posts__post-reviews-block-title">
                        Положительные отзывы:
                    </h2>
                    <ol class="posts__post-reviews-block-list">
                        <li class="posts__post-reviews-block-list-item">
                            Покачался
                        </li>
                        <li class="posts__post-reviews-block-list-item">
                            Попрограммировал
                        </li>
                    </ol>
                </div>
                <div class="posts__post-reviews-block">
                    <h2 class="posts__post-reviews-block-title">
                        Отрицательные отзывы:
                    </h2>
                    <ol class="posts__post-reviews-block-list">
                        <li class="posts__post-reviews-block-list-item">
                            Проспал весь день
                        </li>
                        <li class="posts__post-reviews-block-list-item">
                            Поиграл в доту
                        </li>
                    </ol>
                </div>
            </div>
            <div class="posts__post-conclusion">
                <b>Вывод:</b> нормас
            </div>
        </div>
    </div>
</div>
